*{
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;
}

html,body{
   height: 100%;
  width: 100%;
  background-color: rgb(249, 123, 211);
}
h1{
    color: white;
    background-color: aqua;
}
h3{
    color: red;
    background-color: aquamarine;
}
p{
    color: whitesmoke  ;
}
button{
    color: red;
}
.box{
    height: 100px;
    width: 100px;
    border: 1px,solid,black;
    text-align: center;
    background-color: chartreuse;
    margin: 5px;

}